#container{
    width:100%;
    background-color: #ffffff;
}

#header{
    width:100%;
    height : 70px;
    margin-top:0px;
    background: linear-gradient(to bottom, #000000, yellow, 10px);
}

#menu ul li{
    float: left;
    width: 33%; 
    height: 50px;
    line-height: 50px;
    text-align: center; 
    background: #00ff0000;
    margin-bottom: 15px;
}

#contents1{
    background-color: #000000;
    width:100%;
    height: 748px;
    margin-top:71px;
    float:left;
}

#img_center{
    margin-top: 80px;
    margin-left: 400px;
}

#left{
    float:left;
}

#right{
    float:right;
    margin-bottom:30px;
}
    
.content{
    background-color: #000000;
    width:100%;
    width:85%;
    float:center;
}

.cen{
    text-align: center;
}

@font-face {
    font-family: 'HSYuji-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
